extends layout

block content
  .row
    .col-xs-12
        div.product-detail-container
          div.product-image-container
            img.img-responsive(src='#{item.imageUrl}')
            div.product-image-action
              div.vote-up
                span.fa.fa-angle-up
              div.divider
              div.vote-down
                span.fa.fa-angle-down
          table
            td.col-xs-3
              span.fa.fa-star
            td.col-xs-9
              h5 #{item.prodName}
              p #{item.price}