extends layout

block content
  .row
    .col-xs-12
        div.product-container
          div.product-image-container
            img.img-responsive(src='http://demandware.edgesuite.net/sits_pod26/dw/image/v2/AASR_PRD/on/demandware.static/Sites-radioshack-Site/Sites-master-catalog/default/v1430834427600/images/02760357_00.jpg?sw=350&sh=350&sm=fit')
            div.product-image-action
              div.vote-up
                span.glyphicon.glyphicon-chevron-up
              div.divider
              div.vote-down
                span.glyphicon.glyphicon-chevron-down
          h5 Arduino
          p $74.99