extends layout

block content
  .row
    each item in items
      .col-xs-12
        a(href='/products/1', role='button') 
          div.product-container
            div.product-image-container
              img.img-responsive(src='#{item.imageUrl}')
              div.product-image-action
                div.vote-up
                  span.glyphicon.glyphicon-chevron-up
                div.divider
                div.vote-down
                  span.glyphicon.glyphicon-chevron-down
            h5 #{item.prodName}
            p #{item.price}
    .col-sm-12
      p(id="userAddress")
