extends layout

block content
  .row
    each item in items
      .col-xs-6
        a(href='/products/#{item.id}', role='button') 
          div.product-container
            div.product-image-container
              div.source-mark
                span.fa.fa-twitter-square
              img.img-responsive(src='#{item.imageUrl}')
              div.product-image-action
                div.vote-up
                  span.fa.fa-angle-up
                div.divider
                div.vote-down
                  span.fa.fa-angle-down
            table
              td.col-xs-12
                h5 #{item.prodName}
                p #{item.price}
